@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@300;400;500&display=swap");

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

header .nav_logo {
  position: fixed;
  top: 54px;
  left: 2.5%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header .nav_toggle {
  display: block;
  position: fixed;
  top: 55px;
  right: 2.5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header .nav_circle svg {
  position: absolute;
  left: -130px;
  bottom: -130px;
  width: 290px;
  height: 290px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 300;
  fill: #fff;
  animation: rotate 12s linear infinite;
  transition: all 0.3s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header .nav_toggle span {
  display: block;
  position: absolute;
  right: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

header .nav_toggle span:first-of-type {
  width: 30px;
}

header .nav_toggle span:last-of-type {
  margin-top: 15px;
  width: 20px;
}

header .nav_menu {
  display: none;
}

/* 스크롤시 header 색상 변경 */
header .nav_logo.nav_dark {
  color: #121212;
}

header .nav_circle.nav_dark svg {
  fill: #121212;
  font-weight: 500;
}

header .nav_toggle span.nav_dark {
  background-color: #121212;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

main .main_wrapper {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

main .main_container {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

main .main_container .main_logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14vw;
  line-height: 15vw;
  letter-spacing: -5px;
}

main .main_container .main_logo span {
  display: block;
  overflow: hidden;
}

main .main_container .main_text {
  font-family: "Noto Sans KR", sans-serif;
  padding-left: 60px;
  padding-bottom: 2.7vw;
}

main .main_container .main_text p {
  color: #fff;
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 2.2vw;
  margin-bottom: 19px;
}

main .main_container .main_text p span {
  display: block;
  line-height: 2.2vw;
  letter-spacing: 0.2px;
  overflow: hidden;
}

main .main_container .main_text a {
  display: inline-block;
  color: #fff;
  font-size: 4vw;
  font-weight: 400;
  line-height: 2vw;
}

main .main_container .main_text a span {
  display: inline-block;
  height: 2.3vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main .main_container .main_text a span:hover {
  transform: translateX(25px);
}

main .main_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("/portfolio/blog05/images/bg_mvisual02.png") no-repeat center
    center;
  background-size: cover;
  z-index: -1;
}

main .main_bg::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

main .main_bg > video {
  width: 113%;
  object-fit: contain;
}

footer {
  background: #121212;
  width: 100%;
}

footer .footer_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  color: #fff;
  border-bottom: 1px solid #272727;
  padding: 66px 0 50px;
}

footer .footer_container li h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

footer .footer_container .footer_about {
  width: 47%;
}

footer .footer_container .footer_about p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #909090;
  font-weight: 300;
  line-height: 25px;
}

footer .footer_container .footer_about p > strong {
  display: block;
  font-weight: 400;
  color: #fff;
}

footer .footer_container .footer_follow {
  width: 25%;
}

footer .footer_container .footer_follow a {
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
}

footer .footer_container .footer_follow a > span {
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding-left: 8px;
  transition: all 0.2s ease-in-out;
}

footer .footer_container .footer_follow a > span:hover {
  transform: translate(5px, -5px);
}

footer .footer_container .footer_contact {
  width: 28%;
}

footer .footer_container .footer_contact p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
}

footer .footer_container .footer_contact p > span {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url("/portfolio/images/ico_clipboard.svg") no-repeat center center;
  /* background-size: contain; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

footer .footer_container .footer_contact p > span:hover {
  background: url("/portfolio/images/ico_clipboard_on.svg") no-repeat center
    center;
}

footer > p {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #585858;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  padding: 47px 0;
}
